@use 'scss-reset/reset';

:root {

  //colors
  --primary-bg-color: #000;
  --primary-fg-color: #fff;
  --primary-fg-text: rgba(255, 255, 255, 60%);
  --primary-border-color: rgba(0, 0, 0, 5%);
  --color-text-blue: #066AFF;
  --color-bg-cyan: #CBEFFF;
  --color-text-orange: #FF4206;
  --color-bg-orange: rgba(255, 228, 203, 1);
  --max-container-width: 400px;
  --border-color: rgba(0,0,0,0.1);
  --hover-bg: linear-gradient(90deg, rgba(255, 233, 244, 0.2) 0%, rgba(234, 243, 255, 0.4) 100%);
  --white: #fff;
  --light-white: rgba(255,255,255, 0.96);
  --selection-bg: #f81ce5;
}

a {
  text-decoration: none;
  color: var(--primary-fg-color);
}

::selection {
  background: var(--selection-bg);
  color: var(--white);
}

// main

body {
  font-family: var(--font-interDisplay);
  background-color: #05051e;
  background-color: color(display-p3 .0196078431 .0196078431 .11764705);
  background-repeat: no-repeat;
  background-position: top, bottom;
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-fg-color);
  position: relative;
  overflow-x: hidden;
  z-index: 0;
  &::before{
      width: 100vw;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background: radial-gradient(59.36% 61.25% at 50% 0%,
       rgba(43, 8, 169, 0.346) 0%, rgba(1, 5, 20, 0) 100%);
      background-size: auto 300px;
      background-repeat: no-repeat;
  }
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  @media screen and (max-width: 500px) {
    padding: 50px 24px 0;
  }
}

.container {
  max-width: var(--max-container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.left{
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  opacity: .4;
}

.right{
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: .4;
}

.title-dot{
  margin: 0 24px;
}